*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 80%;
    min-height: 300px;
    border: 5px solid lightblue;
    background-color: royalblue;
    margin: 30px auto;
    display: flex; 
    flex-direction: row;
    /*row, collum, row-reverse, collum-reverse*/
    flex-wrap: wrap;
    /* nowrap, wrap, wrap-reverse */
    justify-content: flex-start;
    /* flex-start, flex-end, center, space-between, space...   */
    align-items: flex-start;
    align-content: flex-start;
    
}


.item{
    
    background-color: coral;
    border: 2px solid white;
    padding: 5px;
    color: white;
    

}

/* .container :nth-child(1){
    padding-top: 30px;
}
.container :nth-child(2){
    padding-bottom: 30px;
} */